@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #10847e;
}

.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background: #fff;
    padding: 20px;
    box-shadow: 4px 4px 20px #000;
    border-radius: 4px;
}
#question{
    font-size: 17px;
}
.row{
    margin: 20px;
    margin-right: 0;
}
.row > label{
    margin-left: 5px;
}
#btn{
    background: #831dd6;
    color: #fff;
    border: none;
    width: 100%;
    padding: 5px 0;
    border-radius: 2px;
    box-shadow: 2px 2px 10px #000;
    font-size: 16px;
    cursor: pointer;
}