*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    max-height: 100vh;
}

#main-desktop-screen{
    width: 100vw;
    height: 100vh;
    background-image: url("./images/windows-11-dark-mode-blue.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
#fullscreenButton{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
#fullscreenButton img{
    width: 20px;
    height: 20px;
    background: transparent;
}
#taskbar{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 3em;
    /* backdrop-filter: blur(16) saturate(177%);
    -webkit-backdrop-filter: blur(16) saturate(177%); */
    background-color: rgba(17, 25, 40, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    color: aliceblue;
}